docker==7.1.0
jaxtyping==0.2.34
numba==0.60.0
numpy==1.26.0
pydantic==2.10.3
rich==13.7.0
# TODO(eguiraud): switch back to trunk as soon as this branch is merged
vmecpp@git+https://github.com/proximafusion/vmecpp@switch-submodules-to-https
